meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
meta(name="author", content="Turner Bohlen")
script(type='text/javascript', src='/javascripts/jquery.min.js')
script(type='text/javascript', src='/bootstrap/js/bootstrap-modal.js')
link(rel="stylesheet", type="text/css", href="/style.css")