!!! strict

html(lang="en", xmlns="http://www.w3.org/1999/xhtml", xmlns:fb="http://ogp.me/ns/fb#")
    head
        title StartLabs SGH | Mozilla Watchdog
        include ../includes/head
        //- Date: 2011-11-7
        include ../includes/analytics

    body
        include ../includes/top
        .navbar.navbar-fixed-top
            .navbar-inner
                .container
                    a.brand(href='/home/')
                        | StartLabs SGH
                    ul.nav
                        li
                            a(href='/home/') Home
                        li
                            a(href='/ideas/search/') Search
                        li
                            a(href='/ideas/new/') Post
                        li
                            a(href='/contact/') Contact
                        li
                            a(href='/about/') About
        .container
            .row
                .span12.well
                    h1 Mozilla Watchdog
                    h4 Description
                    p Build an add-on for any browser that allows the user (or, the browser acting on the user's behalf) to visualize, manage, or collect data related to a user's security or privacy. For example, this can include passwords, privacy settings on any website, HTTPS or cookie usage, or third party identity services.
                    h4 More Information
                    a(href="https://mozillalabs.com/blog/2011/12/watchdog-helping-users-manage-passwords-and-privacy/") Manage Privacy
                    br
                    a(href="https://mozillalabs.com/blog/2012/02/watchdog-visualize-your-password-reuse/") Visualize Password Reuse