!!! strict

html
    head
        title StartLabs SGH | About
        include includes/head

    body
        include includes/top
        .navbar.navbar-fixed-top
            .navbar-inner
                .container
                    a.brand(href='/home/')
                        | StartLabs SGH
                    ul.nav
                        li
                            a(href='/home/') Home
                        li
                            a(href='/ideas/search/') Search
                        li
                            a(href='/ideas/new/') Post
                        li
                            a(href='/contact/') Contact
                        li.active
                            a(href='/about/') About
        .container
            .row
                .span8
                    h1
                        | About
                    p
                        | This site is a
                        span.highlighted repository for ideas
                        | . Many of us have dozens if not hundreds or thousands of ideas that we have no plans of building. Other projects are taking up our time. Post those ideas here, whether hilariously crappy, or completely awesome, get some feedback, and inspire others to get building.
                    p
                        | Remember, anything you leave here is
                        span.highlighted free to the world
                        | , just as anything you find here is free to you.
                    p
                        | At the moment this site is being developed by
                        a.link(href='http://www.turnerbohlen.com') me
                        |  simply because I think something like it needs to exist. I would love some help! If you are interested in
                        span.highlighted helping develop or design
                        |  this site shoot me an email and/or grab the source
                        a.link(href='https://github.com/tbohlen/Idea-Scrapyard') here
                        | .