!!! strict

html(lang="en", xmlns="http://www.w3.org/1999/xhtml", xmlns:fb="http://ogp.me/ns/fb#")
    head
        title StartLabs SGH | Contact Us
        include includes/head
        include includes/analytics

    body
        include includes/top
        .navbar.navbar-fixed-top
            .navbar-inner
                .container
                    a.brand(href='/home/')
                        | StartLabs SGH
                    ul.nav
                        li
                            a(href='/home/') Home
                        li
                            a(href='/ideas/search/') Search
                        li
                            a(href='/ideas/new/') Post
                        li.active
                            a(href='/contact/') Contact
                        li
                            a(href='/about/') About

        .container
            .row
                .span12
                    .hero-unit
                        h3 Questions, Comments, or Problems?
                        p
                        p Email us at contact@startlabs.org
