!!! strict

html(lang="en", xmlns="http://www.w3.org/1999/xhtml", xmlns:fb="http://ogp.me/ns/fb#")
    head
        title StartLabs SGH
        include includes/head
        script(type='text/javascript', src="/javascripts/index.js")
        include includes/analytics

    body
        include includes/indexTop