!!! strict

html(lang="en", xmlns="http://www.w3.org/1999/xhtml", xmlns:fb="http://ogp.me/ns/fb#")
	head
		title StartLabs SGH | Not Allowed
		include includes/head
		script(type='text/javascript', src='/javascripts/syStandard.js')
		include includes/analytics

	body
		include includes/top
		.container
			.row
				.span12
					.hero-unit
						h1 You Must Be Signed In
						p You must be signed in to post new ideas, join teams, comment on ideas, and see certain pages.
						a.btn.btn-large.btn-primary(href="/landing/") Return to the Landing Page and Sign in
